attr==0.3.2
cryptography>=39.0.0
# cryptography>=45.0.7,<46
Cython==3.1.3
dl==0.1.0
docutils==0.21.2
h3==4.3.1
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
geopandas>=0.14.0
keyring==25.6.0
lockfile==0.12.2
numpy==2.0.2
osmnx==2.0.6
pandas==2.3.2
Pillow==11.3.0
protobuf==6.32.1
pydeck==0.9.1
# pyOpenSSL==23.0.0
pyOpenSSL==25.2.0
railroad==0.5.0
rasterio==1.4.3
Shapely==2.1.1
Sphinx==8.2.3
streamlit==1.49.1
toml==0.10.2
tornado==6.4.2
trove_classifiers==2025.9.11.17
truststore==0.10.4